/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: DwarvenAxe;
    src: url("https://kirilltk.github.io/DungeonIO/assets/fonts/DwarvenAxe.ttf") format("truetype");
}

* {
    margin: 0 auto;
    cursor: url('https://kirilltk.github.io/DungeonIO/assets/arrow.png'), auto;
}

.dialog .mat-dialog-container {
    padding: 0;
    background: transparent;
}


.lose-dialog .mat-dialog-container {
    padding: 0;
    background: transparent;
}

.ngx-pagination {
    padding-inline-start: 0;
}

.task-dialog .mat-dialog-container {
    padding: 0;
    background: transparent;
}

.info-dialog .mat-dialog-container {
    padding: 0;
}

.mat-radio-label-content {
    width: 500px;
    white-space: normal;
}

.mat-radio-label-content {
    width: 100% !important;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }