<app-bar [score]="score"></app-bar>
<div class="battlefield" #battlefield>


  <section class="actions">
      <button mat-icon-button (click)="openTaskDialog()" class="task_dialog" style="width: 50px; height: 50px"
      matTooltip="Открыть книгу заклинаний"
      matTooltipPosition="right"
      >
          <mat-icon aria-label="hide dialog" style="font-size: 4em; width: 50px; color: white">list_alt</mat-icon>
        </button>
      
        <button mat-icon-button (click)="openMusicSettingsDialog()" class="task_dialog" style="width: 50px; height: 50px"
        matTooltip="Настройки"
        matTooltipPosition="right"
        >
          <mat-icon aria-label="hide dialog" style="font-size: 4em; width: 50px; color: white">settings</mat-icon>
        </button>

        
        <button mat-icon-button (click)="openInfoDialog()" class="task_dialog" style="width: 50px; height: 50px"
         matTooltip="Помощь"
         matTooltipPosition="right"
        >
          <mat-icon aria-label="hide dialog" style="font-size: 4em; width: 50px; color: white">help_outline</mat-icon>
        </button>

        <button mat-icon-button (click)="onFinishGame()" class="task_dialog" style="width: 50px; height: 50px"
         matTooltip="Закончить игру"
         matTooltipPosition="right"
        >
          <mat-icon aria-label="hide dialog" style="font-size: 4em; width: 50px; color: white">meeting_room</mat-icon>
        </button>

  </section>


  <section class="heroes">
    <app-hero (gameResult)="getResultGame($event)" style="margin:0"></app-hero>
    <app-enemy (gameResult)="getResultGame($event)"></app-enemy>
  </section>
</div>
