<app-bar [score]="score"></app-bar>
<div class="battlefield">
  <section class="heroes">
    <app-hero [result]="answer"
              (gameResult)="getResultGame($event)"
              [isEnemyAttackEnd]="isEnemyAttackEnd"
              (isFinishAnimationAttack)="isFinishAnimateHeroAttack($event)"
    ></app-hero>

    <app-enemy
            [result]="answer"
            (gameResult)="getResultGame($event)"
            [refreshSession]="isRefreshSession"
            [isHeroAttackEnd]="isHeroAttackEnd"
            (isFinishAnimationAttack)="isFinishAnimateEnemyAttack($event)"
    ></app-enemy>
  </section>
</div>
